extends layout

block content
  div#lapin
    img(src="/images/background.jpg")
  div#lapin2
    img(src="/images/background.jpg")
  div(class="title")
    h1=title

  div.loginbox
    form(name="login", action="/users", method="post")
      input(type="text", name="user", placeholder="login")
      input(type="password", name="pass", placeholder="password")
      input(type="submit", value="login")
    a(class="forgot", href="/forgot") Forgot password ?
    a(class="bouton", href="/users/suscribe") Sign up ?
