doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(class="logo", href='/') Matcha
      
      a(class="delog", href='/logout') Logout
    block content
