@import url(https://fonts.googleapis.com/css?family=Courgette|Satisfy|Raleway:400,600,500italic|Poppins&effect=anaglyph);

@font-face {
  font-family: 'courgette';
  src: url('https://fonts.googleapis.com/css?family=Satisfy&effect=anaglyph');
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css?family=Poppins&effect=anaglyph');
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
}

a:focus {
  color: #fff;
}


h2 {
    font-weight: 100;
    text-transform: uppercase;
    padding: 20px;
}

#lapin{
  position: fixed;
  top: 0;
  right: 0;
  height: 307px;
  width: 350px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  mix-blend-mode: multiply;
  opacity: 0.4;
  z-index: -1;
}
#lapin img{
  position: absolute;
  right: -200px;
  top: -80px;
}
#lapin2{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 307px;
  width: 350px;
  overflow: hidden;
  mix-blend-mode: multiply;
  opacity: 0.4;
  z-index: -1;

}
#lapin2 img{
  position: absolute;
  bottom: -50px;
  left: -715px;
}



body {
  width: 100vw;
  min-height: 100vh;
  font-family: 15px 'poppins', Helvetica, Arial, sans-serif;
  background-color: #eee;
  background: linear-gradient(120deg, #90EDCC, #FF8EA0, #ADA6FC);

  margin: auto;
  font-weight: 200;
}

a {
  color: #00B7FF;
}

.title {
  margin: auto;
  display: block;
  overflow: hidden;
}

header {
  background-color: rgba(255, 255, 255, 0.6);
  height: 50px;
  color: #424242;
  line-height: 50px;
  padding: 0 10vw;
  box-shadow: 1px 0px 4px rgba(0,0,0,0.4);
}

header .logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #424242;
  letter-spacing: 5px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-size: 7em;
  z-index: 10;
  font-family: 'poppins';
  text-transform: uppercase;
  margin-top: 5vw;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.title h1 {
  letter-spacing: -10px;
}

.loginbox {
  display: block;
  width: 400px;
  height: auto;
  background-color: rgba(255,255,255,0.3);
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  padding: 50px;
  z-index: -3;
  text-align: center;
}

.loginbox input {
  display: block;
  margin: auto;
  font-size: 17px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  font-weight: lighter;
  text-align: left;
  height: 40px;
  margin-top: 20px;
  padding-left: 20px;
  width: 350px;
  z-index: 3;
}


.loginbox input[type="submit"] {
  height: 40px;
  background-color: #F76F85;
  border: none;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  margin-top: 30px;
  transition: background 0.5s ease;
  z-index: 3;
}

.loginbox input[type="submit"]:hover {
  border: 1px solid #fff;
  background-color: transparent;
}

input:focus {
    outline: none;
}

.forgot {
  display: block;
  color: #424242;
  font-family: 'poppins';
  padding: 10px;
  text-decoration: underline;
}

.forgot:hover {
  color: #F76F85;
}

.bouton {
  display: block;
  color: #424242;
  font-family: 'poppins';
  padding: 5px 10px;
  width: 330px;
  margin: auto;
}

.bouton:hover {
    color: #B00025;
}

#profile {
  display:inline-block;
  width: 80vw;
  background-color: rgba(255,255,255,0.6);
  margin: auto;
  margin-top: 80px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.09);
}

#profileinfos p.login {
  width: 100vw;
  position: absolute;
  text-decoration: underline;
  text-align: center;
  font-size: 3em;
  margin-top: 300px;
  z-index: 10;
  font-family: 'poppins';
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

#profileinfos i {
  color: red;
  font-size: 5vh;
}

#profileinfos .pp {
  width: 50vw;
  max-width: 400px;
  min-width: 200px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  z-index: -5;
}

#profileinfos .pp img {
  display: block;
  overflow: hidden;
  align-content: center;

  width: 140%;
}

#profile #infos {
  display: block;
  width: 40%;
  float: left;
  text-align: center;
  height: auto;
}

#profile #infos span {
  display: flex;
  padding: 0px 20px;
  width: 100%;
  text-align: center;
}

#profile #biographie {
  display: block;
  float: left;
  width: 60%;
  padding-right: 50px;
}

#profile #biographie .tag {
  padding: 10px;
  width: 100%;
  text-align: center;
}


#profile .bio {
  text-align: justify;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: capitalize;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: capitalize;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: capitalize;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: capitalize;
}

p.error {
  margin: 30px auto;
  text-align: center;
  color: red;
  background-color: rgba(255,255,255,0.3);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 400px;
  border: 1px solid red;
  padding: 5px;
}

p.error:before {
  content: 'Error : ';
}

p.success {
  margin: 30px auto;
  text-align: center;
  color: green;
  background-color: rgba(255,255,255,0.3);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 400px;
  border: 1px solid green;
  padding: 5px;
}

span.hash {
  background-color: #E8AEBA;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.delog {
  float: right;
  background-color: rgba(0,0,0,0.2);
  margin-top: 10px;
  line-height: 20px;
  padding: 5px 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition: background 0.5s ease;


}

.delog:hover {
  background-color: #B3E2C7;
}
